﻿@model TeamLinkMVCApp.Models.Player

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Player</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gamertag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gamertag)
            @Html.ValidationMessageFor(model => model.Gamertag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SteamID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SteamID)
            @Html.ValidationMessageFor(model => model.SteamID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaystationID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlaystationID)
            @Html.ValidationMessageFor(model => model.PlaystationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Searching)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Searching)
            @Html.ValidationMessageFor(model => model.Searching)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegionID)
            @Html.ValidationMessageFor(model => model.RegionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StyleID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StyleID)
            @Html.ValidationMessageFor(model => model.StyleID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastSearched)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastSearched)
            @Html.ValidationMessageFor(model => model.LastSearched)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
