﻿@model TeamLinkMVCApp.ViewModels.GameSearchViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Your Info</legend>   
            <div class="editor-label">
                @Html.LabelFor(model => model.SystemID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SystemID)
                @Html.ValidationMessageFor(model => model.SystemID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GameID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GameID)
                @Html.ValidationMessageFor(model => model.GameID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PlayerID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PlayerID)
                @Html.ValidationMessageFor(model => model.PlayerID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GamerStyleID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GamerStyleID)
                @Html.ValidationMessageFor(model => model.GamerStyleID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SearchTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SearchTime)
                @Html.ValidationMessageFor(model => model.SearchTime)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.RegionID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RegionID)
                @Html.ValidationMessageFor(model => model.RegionID)
            </div>
    
            <p>
                <input type="submit" value="Search" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
