﻿@model TeamLinkMVCApp.ViewModels.PlayerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Player</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Gamertag)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Gamertag)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.SteamID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.SteamID)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.PlaystationID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PlaystationID)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Region)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Region)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.GamerStyle)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.GamerStyle)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.LastSearched)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastSearched)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Email }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
