﻿@model TeamLinkMVCApp.ViewModels.PlayerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Player</legend>
    
            @Html.HiddenFor(model => model.PlayerID)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Gamertag)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Gamertag)
                @Html.ValidationMessageFor(model => model.Gamertag)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SteamID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SteamID)
                @Html.ValidationMessageFor(model => model.SteamID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PlaystationID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PlaystationID)
                @Html.ValidationMessageFor(model => model.PlaystationID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Region)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Region)
                @Html.ValidationMessageFor(model => model.Region)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.GamerStyle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GamerStyle)
                @Html.ValidationMessageFor(model => model.GamerStyle)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LastSearched)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastSearched)
                @Html.ValidationMessageFor(model => model.LastSearched)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
