﻿@model IEnumerable<TeamLinkMVCApp.ViewModels.PlayerViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gamertag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaystationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamerStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSearched)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gamertag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaystationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamerStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSearched)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PlayerID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PlayerID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PlayerID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
